.card {

  &__container {
    width: 250px;
    height: 295px;
    overflow: hidden;
    position: relative;
  }

  &__image {
    transition: transform 0.3s ease-in-out;
  }

  &__image:hover {
    transform: scale(1.2);
  }

  &__details {
    display: flex;
    justify-content: space-between;
    background: var(--ps-blue);
    padding: 8px 12px;
  }

  &__label {
    width: auto;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px 10px;
    font-size: 0.7rem;
    font-weight: 600;
  }
}
