/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto';
}

a {
  text-decoration: none;
  list-style: none;
}

:root {
  --ps-blue: #003C8F;
  --ps-dark-blue: #1F2A47;
  --ps-light-blue: #4F8DF5;
  --ps-white: #FFFFFF;
  --ps-gray: #D1D3D8;
  --ps-black: #000000;
  --ps-accent-orange: #d18204;
  --ps-dark-gray: #2C3E50;
  --ps-light-gray: #BDC3C7;
  --ps-red: #cf0909;
  --ps-green: #02af19;
}

body {
  background-color: var(--ps-dark-blue);
  color: var(--ps-white);
}

h1,
h2,
h3,
h4 {
  color: var(--ps-white);
}

a {
  color: var(--ps-blue);
  text-decoration: none;
  font-size: 0.9rem;

  @media screen and (max-width: 495px) {
    font-size: 1.6rem;
  }

  &:hover {
    color: var(--ps-light-blue);
  }

  &:active {
    color: var(--ps-light-blue);
  }
}


button {
  background-color: var(--ps-blue);
  color: var(--ps-white);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: var(--ps-accent-orange);
}

footer {
  background-color: var(--ps-dark-gray);
  color: var(--ps-light-gray);
  padding: 20px;
  text-align: center;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
